#container {
    width: 256px;
    margin: 0 auto;
    text-align: center;
    box-shadow: 0px 0px 5px white;
}

    #container pre {
        width: 100%;
        white-space: pre-wrap;
        text-align: left;
        overflow: auto;
        display: block;
        word-wrap: break-word;
        
    }

    #container > div, #container > div img {
        height: 384px;
        width: 256px;
    }

#controlpad {
    width: 240px;
    background:white;
    background: linear-gradient(to top,#000,#fff);
}

#chat {
    width: 100%;
}

    #chat input, #chat button {
        border-top: 1px solid #1e1e1e;
        border-bottom: 1px solid #aaaaaa;
        outline: none;
        background: white;
        line-height: 20px;
        padding: 0;
        text-shadow: 1px 1px 1px gray;
        
        color: black;
    }

    #chat input {
        height: 20px;
        width: 190px;
        border-top-left-radius: 10px;
        padding-left: 10px;
    }

    #chat button {
        height: 22px;
        width: 56px;
        border-top-right-radius: 10px;
        cursor: pointer;
    }

        #chat button:hover {
            background: #eeeeee;
            color: black;
        }

    #chat input:hover {
        background: #eeeeee;
        color: black;
    }

#chatrecord {
    height: 161px;
    
    background: white linear-gradient(to top,#000,#fff);
}

#keypad {
    padding: 5px 0 5px 0;
    width: 100%;
}

    #keypad > table {
        width: 240px;
        margin: 0 auto;
    }

    #keypad td {
        width: 12.5%;
    }

    #keypad button {
        width: 30px;
        height: 30px;
        border: 1px solid gray;
        border-radius: 15px;
        background: #ddd linear-gradient(to top right,#000,#ddd);
        color: white;
        outline: none;
        text-shadow: 1px 1px 1px black;
    }

        #keypad button:hover {
            border: 1px solid black;
            background: black linear-gradient(to top right,black,#888);
        }


#keyrecord {
    height: 100px;
    border-top:1px dotted black;
    color: silver;
    background:black;
}

@media only screen and (min-width: 514px) {
    #container > div {
        float: left;
    }

    #container {
        width: 512px;
    }
}
